body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 높이의 100% */
  margin: 0; /* body의 기본 마진 제거 */
}
/* 버튼 */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* 컨테이너 스타일링 */
#webcam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 2%;
  border-color: aquamarine;
}

#label-container {
  text-align: center;
  margin-top: 20px;
}

/* 레이블 스타일링 */
#label-container div {
  margin: 5px;
  font-size: 18px;
}
/* 사진 크기 */
#smile-image {
  width: 50px;
  height: 50px;
  display: block;
}
